@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  color: #2b2b2b;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 53, 0.8)), to(rgba(40, 47, 53, 0.8))), url("../images/header.jpg");
  background: linear-gradient(rgba(40, 47, 53, 0.8), rgba(40, 47, 53, 0.8)), url("../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
}

header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}

header .header-text h2 {
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 8px;
  word-spacing: 6px;
  font-size: 1.3rem;
}

header .header-text h3 {
  color: #ddd;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 2.5px;
  font-size: 0.5rem;
}

header .header-text button {
  font-size: 0.5rem;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 5px 15px;
  margin-top: 30px;
  border-radius: 50px;
  outline: none;
}

header .header-text img {
  width: 200px;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about h1 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#about h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
}

#about p {
  margin-top: 40px;
  font-size: 0.5rem;
}

#about button {
  font-size: 0.5rem;
  background-color: transparent;
  border: 1px solid #2b2b2b;
  padding: 5px 15px;
  border-radius: 50px;
  outline: none;
}

#team h1 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#team h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
}

#team .row {
  margin: 0;
}

#team .col-4 {
  padding: 0 30px;
}

#team .card {
  margin: 50px auto;
  border: 1px solid #969696;
  border-radius: 0;
}

#team .card img {
  margin: 50px auto;
  margin-bottom: 0;
  width: 150px;
}

#team .card h5 {
  font-size: 0.7rem;
  text-transform: capitalize;
  font-weight: bold;
}

#team .card h6 {
  font-size: 0.5rem;
  color: #969696;
  text-transform: capitalize;
}

#team .card h6:after {
  display: block;
  height: 1px;
  background-color: #969696;
  content: "";
  width: 100px;
  margin: 0px auto;
  margin-top: 50px;
}

#client {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 53, 0.8)), to(rgba(40, 47, 53, 0.8))), url("../images/client.jpg");
  background: linear-gradient(rgba(40, 47, 53, 0.8), rgba(40, 47, 53, 0.8)), url("../images/client.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}

#client h1 {
  font-size: 1rem;
  color: #ddd;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#client h4 {
  font-size: 0.8rem;
  color: #ddd;
  text-transform: capitalize;
}

#client .col-2 {
  margin: 30px auto;
}

#client .col-2 img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

#contact {
  height: 120vh;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #282f35;
}

#contact h1 {
  font-size: 1rem;
  color: #ddd;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#contact h4 {
  font-size: 0.8rem;
  color: #ddd;
  text-transform: capitalize;
}

#contact form {
  margin: 10px;
  padding: 10px;
}

#contact form input,
#contact form textarea {
  margin: 10px;
  text-transform: capitalize;
  padding: 10px;
  font-size: 0.6rem;
  background-color: #1f242a;
  border: none;
  color: #ddd;
  outline: none;
}

#contact form textarea {
  width: 38vw;
}

#contact form button {
  font-size: 0.6rem;
  background-color: #1f242a;
  border: none;
  padding: 5px 10px;
  color: #ddd;
  outline: none;
}

footer p {
  font-size: 0.5rem;
  margin: 0;
  color: #ddd;
  background-color: #282f35;
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 80vh;
  }
  header .header-text {
    height: 50vh;
  }
  header .header-text h2 {
    letter-spacing: 6px;
    word-spacing: 4px;
    font-size: 1rem;
  }
  header .header-text h3 {
    letter-spacing: 0.8px;
    word-spacing: 2px;
    font-size: 0.4rem;
  }
  header .header-text button {
    font-size: 0.4rem;
    padding: 3px 12px;
  }
  header .header-text img {
    width: 180px;
  }
  #about h1 {
    font-size: 0.8rem;
  }
  #about h4 {
    font-size: 0.6rem;
  }
  #about p {
    font-size: 0.4rem;
  }
  #about button {
    font-size: 0.4rem;
    padding: 3px 12px;
    border-radius: 50px;
    outline: none;
  }
  #client {
    height: 80vh;
  }
  #client h1 {
    font-size: 0.8rem;
  }
  #client h4 {
    font-size: 0.6rem;
  }
  #client .col-2 {
    margin: 20px auto;
  }
  #client .col-2 img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  #team h1 {
    font-size: 0.8rem;
  }
  #team h4 {
    font-size: 0.6rem;
  }
  #team .row {
    margin: 0;
  }
  #team .col-4 {
    padding: 0 20px;
  }
  #team .card {
    margin: 40px auto;
  }
  #team .card img {
    margin: 30px auto;
    margin-bottom: 0;
    width: 100px;
  }
  #team .card h5 {
    font-size: 0.5rem;
    font-weight: bold;
    padding-top: 0;
  }
  #team .card h6 {
    font-size: 0.3rem;
  }
  #team .card h6:after {
    width: 50px;
    margin-top: 30px;
  }
  #contact {
    height: 80vh;
  }
  #contact h1 {
    font-size: 0.8rem;
  }
  #contact h4 {
    font-size: 0.6rem;
  }
  #contact form {
    margin: 5px;
    padding: 5px;
  }
  #contact form input,
  #contact form textarea {
    margin: 5px;
    padding: 5px;
    font-size: 0.4rem;
  }
  #contact form button {
    font-size: 0.4rem;
  }
  footer p {
    font-size: 0.3rem;
    margin: 0px;
    border: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    height: 100vh;
  }
  header .header-text {
    height: 80vh;
  }
  header .header-text h2 {
    letter-spacing: 8px;
    word-spacing: 6px;
    font-size: 1.2rem;
  }
  header .header-text h3 {
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 0.5rem;
  }
  header .header-text button {
    font-size: 0.5rem;
    padding: 4px 14px;
  }
  header .header-text img {
    width: 190px;
  }
  #about h1 {
    font-size: 0.9rem;
  }
  #about h4 {
    font-size: 0.7rem;
  }
  #about p {
    font-size: 0.5rem;
  }
  #about button {
    font-size: 0.5rem;
    padding: 4px 14px;
    border-radius: 50px;
    outline: none;
  }
  #client {
    height: 90vh;
  }
  #client h1 {
    font-size: 0.9rem;
  }
  #client h4 {
    font-size: 0.7rem;
  }
  #client .col-2 {
    margin: 25px auto;
  }
  #client .col-2 img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  #team h1 {
    font-size: 0.9rem;
  }
  #team h4 {
    font-size: 0.7rem;
  }
  #team .row {
    margin: 0;
  }
  #team .col-4 {
    padding: 0 25px;
  }
  #team .card {
    margin: 45px auto;
  }
  #team .card img {
    margin: 35px auto;
    margin-bottom: 0;
    width: 120px;
  }
  #team .card h5 {
    font-size: 0.5rem;
    font-weight: bold;
    padding-top: 0;
  }
  #team .card h6 {
    font-size: 0.4rem;
  }
  #team .card h6:after {
    width: 60px;
    margin-top: 35px;
  }
  #contact {
    height: 90vh;
  }
  #contact h1 {
    font-size: 0.9rem;
  }
  #contact h4 {
    font-size: 0.7rem;
  }
  #contact form {
    margin: 8px;
    padding: 8px;
  }
  #contact form input,
  #contact form textarea {
    margin: 8px;
    padding: 8px;
    font-size: 0.6rem;
  }
  #contact form button {
    font-size: 0.6rem;
  }
  footer p {
    font-size: 0.4rem;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */